

/* When screen width is 768px or smaller */
@media (max-width: 768px) {
  .big-heading {
    background-color: rgb(0, 237, 0);
    font-size: 5vw;
  }
  .line {
    background-color: rgb(0, 237, 0);
    font-size: 2vw;
  }


  
.card, .card2, .card3 {
  animation: moveAndRotate 4.5s cubic-bezier(0.19, 1, 0.22, 1) 2s infinite;
}

@keyframes moveAndRotate {
  from {
    transform: translateY(0px) rotateY(0deg);
  }
  to {
    transform: translateY(-1300px) rotateY(360deg);
  }
}

.card2 {
  animation-name: moveAndRotate;
  animation-delay: 2.8s; /* you missed 's' for seconds */
}

}